<!--HTML COMMENT-->
<!DOCTYPE html>
<html>
<head>
<meta name="keywords" content="html, css, javascript, jsp" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<!--스타일 시트-->
<style type="text/css">
	button{
		background-color: rgb(142, 148, 146);
		position : relative;
		left : 510px;
		color : white;
	}
	#wrap{
		background-color: antiquewhite;
	}
</style>
<title>Insert title here</title>
<!--자바스크립트 코드-->
<script type = "text/javascript">
	
</script>
</head>
<body>
	<div id="wrap">
		<h2>게시 - 수정</h2>
		<hr/>
		<div id="bt">
			<button>수정</button>
			<button>삭제</button>
			<button>목록</button>
		</div>
		<table border="1">
			<tr>
				<th width="100">제목</th>
				<td colspan="3"><input type="text" size="70"></td>
			</tr>
			<tr>
                <th width="100">순번</th>
                <td colspan="3"><input type="text" size="70"></td>
            </tr>
			<tr>
				<th>등록자</th>
				<td><input type="text" size="25"></td>
				<th width="100">등록일</th>
				<td><input type="text" size="25"></td>
			</tr>
			<tr>
				<th>수정자</th>
				<td><input type="text" size="25"></td>
				<th width="100">수정일</th>
				<td><input type="date"></td>
			</tr>
			<tr>
				<th>조회수</th>
				<td colspan="3"><input type="text" size="70"></td>
			</tr>
			<tr>
				<th colspan="4">내용</th>
			</tr>
			<tr>
				<td colspan="4">
					<textarea cols="88" rows="10"></textarea>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>