<!--Html comment -->
<!DOCTYPE html>
<html>
<head>
<meta name="keywords" content="html, scc, javascript, jsp" />
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="/studyhtml5/asset/css/board.css">

<!--스타일 시트 -->
<style type="text/css">

</style>

<title>Insert title here</title>
<!-- 자바스크립트 코드 -->
<script type="text/javascript">

</script>
</head>
<body>
	<h2>template메뉴</h2>
	<p>날짜:2022. 4. 20</p>
	<hr/>
  <table border="1">
    <tr>
      <th>번호</th>
      <th>메뉴</th>
    </tr>
    <tr>
      <th width="80">1</th>
      <td width="150"><a href="/studyhtml5/template/borad_list.html">게시-목록</a></td>
    </tr>
    <tr>
      <th>2</th>
      <td><a href="/studyhtml5/template/borad_mod.html">게시-수정</a></td>
    </tr>
    <tr>
      <th>3</th>
      <td><a href="/studyhtml5/template/borad_reg.html">게시-등록</a></td>
    </tr>
  </table>
</body>
</html>